body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f0f0f0;
    background-image: none;
  }
  
  .input-field {
    width: 100%;
    margin-bottom: 15px;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #e0e0e0;
  }
  
  .options {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
  }
  
  .register {
    margin-top: 10px;
  }
  
  .register-link {
    color: #2d92ba;
    text-decoration: none;
  }
  
  .register-container {
    display: flex;
    justify-content: space-between;
    background-color: #f9f9f9;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 40px;
    width: 600px;
  }
  
  .register-form {
    width: 60%;
  }
  
  .register-form p {
    margin: 5px 0;
    font-size: 14px;
    color: #333;
  }
  
  .picture {
    width: 35%;
    background-color: #dcdcdc;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    font-weight: bold;
    color: #333;
  }
  
  .register-title {
    text-align: center;
  }
  
  .register-button {
    width: 50%;
    padding: 10px;
    margin-left: 96px;
    border: none;
    border-radius: 5px;
    background-color: #dcdcdc;
    cursor: pointer;
    margin-bottom: 10px;
    transition: background-color 0.3s ease;
  }
  
  .register-button:hover {
    background-color: gray;
    font-weight: 600;
  }
   
  .login-reg-button {
    text-align: center;
    display: block;
    color: black;
    text-decoration: none;
  }
  
  .error {
    border-color: red;
  }
  
  .error-message {
    color: red;
    font-size: 12px;
    margin-top: 5px;
    display: block;
  }
  
  .form-group {
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: center;
  }
  
  .form-group p {
    width: 120px;
    margin-right: 10px;
  }
  
  .input-field {
    flex: 1;
    padding: 10px;
  }
  
  @keyframes slideInFromLeft {
    0% {
      transform: translateX(-100%);
    }
    100% {
      transform: translateX(0);
    }
  }
  
  .slide-in-left {
    animation: slideInFromLeft 1.1s ease-out;
  }